body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f7d8e9; /* Define a cor de fundo como rosa claro */
}



#conteudo { text-align: center; } 

#texto-cima {
    font-size: 35px; /* Aumenta o tamanho da fonte para 24 pixels */
    color: #ff69b4; /* Altera a cor do texto para um tom rosa */
    font-family: 'Great Vibes', cursive;  /* Aplica uma fonte mais romântica */
    margin-bottom: 10px;
    font-weight: bol;
}

#texto-baixo { font-size: 25px; color: #333; margin-bottom: 10px; font-family: 'Amatic SC', cursive;font-weight: bold;}

#imagem {
    width: 250px;
    height: 250px;
}

#botoes {
    margin-top: 20px;
    text-align: center; /* Centraliza horizontalmente os botões */
}

#botoes button {
    display: block; /* Altera para display block para que fiquem um em cima do outro */
    margin: 0 auto; /* Centraliza horizontalmente os botões */
    background-color: black;
    border: 2px solid #ff6ec7;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 5px; /* Adiciona margem inferior para separação entre os botões */
}

.botao-nao-clicado {
position: absolute;
    transition: top 0.s, left 0.s;
}
